@charset "utf-8";

.section{
	background: white;

	.title{
		color: green;
	}
	.description{
		text-align: center;
	}
	.description_list{
		margin: 20px 0;
		padding: 20px;
		border: 1px solid gray;
		dd{
			font-size: 15px;
			line-height: 20px;
		}
	}
}