.video-iframe {
    display: block;
    border: none;
    width: 100%;
    height: 250px;
}

@media (min-width: 768px) {
	.video-iframe {
		height: 500px;
	}
}
@media (min-width: 1700px) {
	.video-iframe {
		height: 900px;
	}
}